.tag-cloud {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 8px;
    width: 225px;
    background: #fafafa;
    font-size: 12pt;
    user-select: none;
    margin-top: 11px;
    padding: 8px;
    overflow: auto;
    max-height: 200px;
}
.tag-cloud ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tag-cloud ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
}
.tag-cloud ul li{
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}
.tag-cloud ul li:hover {
    background-color: #4CAF50;
    color: #fff;
}
