.full-view-style {
    margin-top: 1vh;
    margin-left: 10vw;
    max-height: 80vh;
    width: 80vw;
    min-width: 610px;
    position: static;
    background-color: #FFFFFF;
    border-bottom: 40px solid #FFFFFF;
    border-top: 25px solid #FFFFFF;
    border-left: 1vw solid #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 20;
    overflow: auto;
}

/*Left*/
.view-left {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

.view-author {
    position: relative;
    top: 10vw;
    width: 10vw;
    color: black;
    line-height: 0;
    font-size: 14pt;
    font-weight: bold;
}

.view-time {
    top: 2vw;
    position: relative;
    font-size: 11pt;
    color: #303030;
    line-height: 0;
    font-weight: normal;
    width: 90%;
}

.view-tag {
    position: relative;
    top: 2vw;
    text-decoration: none;
    font-size: 11pt;
    color: #4CAF50;
    line-height: 0;
}

/*Right*/
.view-right {
    margin-left: 1%;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #4CAF50;
}

.view-head {
    margin-left: 3%;
    width: auto;
    height: auto;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32pt;
    font-weight: bold;
}

.img-view {
    object-fit: contain;
    height: auto;
    width: 50%;
    float: right;
    margin: 0 0 10px 10px;
}
.view-text{
    line-height: 1.5;
    margin-left: 3%;
    margin-top: 2%;
    color: black;
    font-size: 16pt;
}
.view-empty{
    margin-top: 5vh;
}
@media screen and (max-width: 1600px) and (min-width: 1500px) {
    .view-author {
        font-size: 13pt;
    }
    .view-head{
        font-size: 28pt ;
    }
    .view-text{
        font-size: 13pt;
    }
}
@media screen and (max-width: 1500px) and (min-width: 1070px) {
    .view-author {
        font-size: 10pt;

    }
    .view-head{
        font-size: 28pt ;
    }
    .view-text{
        font-size: 13pt;
    }
}
@media screen and (max-width: 1070px) and (min-width: 0px) {
    .view-author {
        font-size: 8pt;
    }
    .view-time {
        font-size: 9pt;
    }

    .view-tag {
        font-size: 9pt;
    }
    .view-head{
        font-size: 24pt ;
    }
    .view-text{
        font-size: 12pt;
    }
}
